@{
    ViewData["Title"] = "Home Page";
}
@using dojo_activity_center.Models
<h1>Welcome to the Dojo Activity Center</h1>
<div class="main">
    <div class="index-form">@Html.Partial("./Partials/Login")</div>
    <div class="index-form">@Html.Partial("./Partials/Register")</div>
</div>
