@model string

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stupid</title>
</head>
<body>
    
    <h1>@Model</h1>
    <h3>This is where we are at</h3>
</body>
</html>